{% extends "base.html" %}

{% block page_content %}
    <h1>Protected page</h1>
    <p>This page can only be viewed by logged in users.</p>
    <p>You are logged in as <b>{{ current_user.username }}</b>.</p>
    <p>Certificate number is <b>{{ current_user.cert }}</b>. </p>
    <h1>Certifiate Validation</h1>
    <div class="row">
        <div class="col-md-3">
            {{ wtf.quick_form(form) }}
        </div>
        {% if user %}
            <p>Thanks {{ user }}!</p>
        {% endif %}
    </div>
{% endblock %}
